<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <description></description>
    <display-name>LoginSrvlt</display-name>
    <servlet-name>LoginSrvlt</servlet-name>
    <servlet-class>jkfitness.controller.LoginSrvlt</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>RegisterSrvlt</display-name>
    <servlet-name>RegisterSrvlt</servlet-name>
    <servlet-class>jkfitness.controller.RegisterSrvlt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginSrvlt</servlet-name>
    <url-pattern>/LoginSrvlt</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterSrvlt</servlet-name>
    <url-pattern>/RegisterSrvlt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUserInfoServlet</display-name>
    <servlet-name>UpdateUserInfoServlet</servlet-name>
    <servlet-class>jkfitness.controller.UpdateUserInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserInfoServlet</servlet-name>
    <url-pattern>/UpdateUserInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetUserInfo</display-name>
    <servlet-name>GetUserInfo</servlet-name>
    <servlet-class>jkfitness.controller.GetUserInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUserInfo</servlet-name>
    <url-pattern>/GetUserInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClientViewSrvlt</display-name>
    <servlet-name>ClientViewSrvlt</servlet-name>
    <servlet-class>jkfitness.controller.ClientViewSrvlt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientViewSrvlt</servlet-name>
    <url-pattern>/ClientViewSrvlt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClientViewMembershipSrvlt</display-name>
    <servlet-name>ClientViewMembershipSrvlt</servlet-name>
    <servlet-class>jkfitness.controller.ClientViewMembershipSrvlt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientViewMembershipSrvlt</servlet-name>
    <url-pattern>/ClientViewMembershipSrvlt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClientViewBillSrvlt</display-name>
    <servlet-name>ClientViewBillSrvlt</servlet-name>
    <servlet-class>jkfitness.controller.ClientViewBillSrvlt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientViewBillSrvlt</servlet-name>
    <url-pattern>/ClientViewBillSrvlt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminViewMembershipsSrvlt</display-name>
    <servlet-name>AdminViewMembershipsSrvlt</servlet-name>
    <servlet-class>jkfitness.controller.AdminViewMembershipsSrvlt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminViewMembershipsSrvlt</servlet-name>
    <url-pattern>/AdminViewMembershipsSrvlt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminViewClients</display-name>
    <servlet-name>AdminViewClients</servlet-name>
    <servlet-class>jkfitness.controller.AdminViewClients</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminViewClients</servlet-name>
    <url-pattern>/AdminViewClients</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeSrvlt</display-name>
    <servlet-name>HomeSrvlt</servlet-name>
    <servlet-class>jkfitness.controller.HomeSrvlt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeSrvlt</servlet-name>
    <url-pattern>/HomeSrvlt</url-pattern>
  </servlet-mapping>
</web-app>